
@media screen and (max-width:600px){
	main{-webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 5px;
	width:100%;}
	
	.page-content{
          display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	max-width: 100%}
    
    aside{-webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;}
    
    .ftr{padding: 0 5px;}}

@media screen and (max-width:410px){
    .logo{text-align:center;
    margin-bottom: 10px;}
    
	.header{-webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;}
    
    
@media screen and (max-width:360px){
aside{-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;}
    
    .img-article{-webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto;}
    
    .img-article section:first-child{margin-left: 10px;}
    
    .lists-content{-webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;}
    
    .ftr article{-webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;}
    
    .footer-content{margin: 0 auto;}}
